@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="bodyoverlay">
    <div id="bigimage">
        <img />
        <div id="bigimagecross">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div id="overlaywrapper" class="inactive">
        <div id="MessageboxMainContainer" class="initquestactive" style="background:white; z-index:100;">
            <div class="actualmessagebody">
                <div id="MessageboxHeader">
                    <div class="UserDetails">
                        <div class="Username">Lets talk</div>
                        <div class="UserActiveStatus"></div>
                    </div>
                    <div class="settingView">
                        <div class="singlerow">
                            <div id="profilepic">
                                <input id="newimginput" type="file" accept="image/x-png,image/gif,image/jpeg" />
                                <div class="pencilicon">
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                                <img />
                            </div>
                            <div class="namecont">
                                <div class="nameoptionscont">
                                    <div>Name</div>
                                    <i class="fas fa-ellipsis-h" id="showoptionbtn"></i>
                                    <i class="fas fa-check" id="savename"></i>
                                    <i class="fas fa-times" id="cancelname"></i>
                                </div>
                                <div id="thisusername"></div>
                                <input id="thisusernameinput"></input>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="msgboxBody">
                    <div class="initialquests">
                        <div class="textcont">Name*</div>
                        <input class="textname" id="inputname" placeholder="Name">
                        <div class="textcont">Email*</div>
                        <input class="textname" id="inputemail" placeholder="Email" />
                        <div class="textcont">Phone</div>
                        <input class="textname" id="inputphone" placeholder="Phone" />
                        <button class="startchat">Start Chat</button>
                        <div id="notnullmsg"></div>
                    </div>
                    <div class="scrollbarcontainer">
                        <div class="scrollbar"></div>
                    </div>
                    <div class="addFileOVerlay">
                        Drop file(s) here!
                    </div>
                    <div class="scrollbaroverlay">
                        <div class="singleMessageScroller">
                            <div class="singleMessage1Container">
                                <div id="seentags" style="top:0px;">
                                    <div class="singleseentag">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                </div>
                                <div class="singleMessageContainer">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="cannedcont">
                    <div class="singlecan">
                        <div class="cannedshort"></div>
                        <div class="cannedlong"></div>
                    </div>
                    <div class="singlecan">
                        <div class="cannedshort"></div>
                        <div class="cannedlong"></div>
                    </div>
                </div>
                <div class="msgboxInputcontainer inactive">
                    <div class="textareact">
                        <textarea id="textInput" placeholder="Type message here...."></textarea>
                    </div>
                    <div class="inputsContainer">
                        <div class="fileInput">
                            <input type="file" class="imagedata" file accept="image/*">
                            <i class="fas fa-paperclip" style="padding:6px"></i>

                        </div>
                        <div id="soundInput">
                            <i class="fas fa-microphone" style="padding:6px"></i>
                        </div>
                    </div>
                    <div class="reorderbox">
                        <div id="recordbutton"><i class="fas fa-microphone" style="padding:6px"></i></div>
                        <div class="recordstopbtncont">
                            <div id="recordstopbutton" class="isrecording">
                                <i class="fa fa-stop-circle" aria-hidden="true" style="padding:6px"></i>
                            </div>
                        </div>
                        <div class="recordbuttonexit">

                            <i class="fas fa-times" id="cancelname"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
        </ul>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
@**@
<script src="~/jquery.min.js"></script>
<link href="~/emojionearea.min.css" rel="stylesheet">
<input type="hidden" id="groupID" value="" />
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
      crossorigin="anonymous">
<audio id="newnotaudio" style="display:none" src="/newnot.mp3"></audio>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/messsmain.js"></script>
