body {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  padding: 0; }

#bodyoverlay {
  width: 100vw;
  height: 100vh;
  position: absolute; }
  #bodyoverlay #bigimage {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 20000;
    background: rgba(51, 51, 51, 0.8); }
    #bodyoverlay #bigimage img {
      max-width: calc(100% - 50px);
      max-height: calc(100% - 50px); }
    #bodyoverlay #bigimage #bigimagecross {
      top: 50px;
      position: absolute;
      right: 50px;
      display: block;
      color: white; }
  #bodyoverlay #overlaywrapper {
    position: fixed;
    z-index: 20;
    bottom: 100px;
    width: auto;
    height: auto;
    vertical-align: 200;
    right: 0;
    background-color: transparent; }
    #bodyoverlay #overlaywrapper.inactive {
      bottom: -300px;
      cursor: default;
      bottom: -260px; }
      #bodyoverlay #overlaywrapper.inactive #MessageboxMainContainer .actualmessagebody #MessageboxHeader > div {
        pointer-events: none; }
      #bodyoverlay #overlaywrapper.inactive #MessageboxMainContainer .actualmessagebody #MessageboxHeader .MessageOptions .Messagesettings i {
        display: none; }
    #bodyoverlay #overlaywrapper #MessageboxMainContainer {
      height: auto;
      width: 300px;
      top: 100px;
      margin-top: 40px;
      position: relative;
      border-radius: 0px 0px 5px 5px;
      border: 1px solid rgba(191, 191, 191, 0.8);
      transition: 2s ease forwards;
      background: rgba(191, 191, 191, 0.2); }
      #bodyoverlay #overlaywrapper #MessageboxMainContainer.initquestactive .actualmessagebody .msgboxBody .initialquests {
        display: block; }
      #bodyoverlay #overlaywrapper #MessageboxMainContainer.initquestactive .actualmessagebody .msgboxInputcontainer {
        display: none; }
      #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody {
        width: auto;
        height: auto;
        pointer-events: none; }
        #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader {
          pointer-events: all;
          transition: 0.5s ease forwards;
          width: 100%;
          height: 50px;
          background-color: #72b626;
          opacity: 0.8; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .UserDetails {
            padding-top: 1px;
            margin: 0 auto;
            text-align: center;
            pointer-events: none; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .UserDetails .Username {
              font-size: 24px;
              padding: 5px 0px 15px 0px;
              color: white; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .UserDetails .UserActiveStatus {
              font-size: 14px;
              color: white;
              margin-top: -25px; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView {
            display: none;
            background: white;
            width: calc(100% - 50px);
            height: auto;
            margin-left: auto;
            margin-right: 3px;
            padding: 5px 10px;
            position: relative;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
            z-index: 500;
            background: white;
            border-radius: 2px; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView::before {
              content: "";
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 8px solid white;
              top: -8px;
              position: absolute;
              right: 5px;
              z-index: 100; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow {
              display: flex;
              margin: 5px 0px; }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                position: relative;
                overflow: hidden; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic img {
                  height: 50px;
                  width: 50px; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic:hover .pencilicon {
                  display: flex; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic .pencilicon {
                  background: rgba(51, 51, 51, 0.5);
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  pointer-events: none;
                  justify-content: center;
                  align-items: center;
                  display: none; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic .pencilicon i {
                    color: white; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow #profilepic #newimginput {
                  font-size: 100px;
                  opacity: 0;
                  position: absolute; }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont {
                padding: 0px 10px;
                display: flex;
                width: calc(100% - 50px);
                flex-direction: column; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont {
                  display: flex; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont div {
                    flex-grow: 1; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont i {
                    margin-right: 0;
                    margin-left: auto;
                    flex-grow: 0;
                    padding: 0px 3px; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont i:hover {
                      transform: scale(1.2); }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont #savename, #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont #cancelname {
                    display: none; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont #savename:hover {
                    color: limegreen; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont #cancelname:hover {
                    color: red; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont .nameoptionscont #showoptionbtn:hover {
                    color: orangered; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont.nameactive .nameoptionscont #savename, #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont.nameactive .nameoptionscont #cancelname {
                  display: block; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont.nameactive .nameoptionscont #showoptionbtn {
                  color: orangered;
                  display: none; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont.nameactive #thisusernameinput {
                  display: block; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont.nameactive #thisusername {
                  display: none; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont #thisusername {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  display: block; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .settingView .singlerow .namecont #thisusernameinput {
                  display: none; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .BoxOptions {
            align-self: flex-start;
            position: absolute; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .BoxOptions .StayonTopOption {
              color: #5b5b5b;
              padding: 3px; }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .BoxOptions .StayonTopOption:hover {
                color: #333333; }
            @media only screen and (max-width: 600px) {
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .BoxOptions .StayonTopOption {
                display: none; } }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .MessageOptions {
            position: absolute;
            right: 0; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .MessageOptions .Messagesettings {
              font-size: 23px;
              color: #5b5b5b;
              padding: 3px; }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #MessageboxHeader .MessageOptions .Messagesettings:hover {
                color: #333333; }
        #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody {
          flex: 1;
          pointer-events: all;
          display: flex;
          margin-bottom: 5px;
          height: 350px;
          overflow: hidden;
          position: relative;
          z-index: -1; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests {
            width: 100%;
            height: 100%;
            background: white;
            padding: 30px;
            position: absolute;
            z-index: 500;
            display: none; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .textcont {
              margin-bottom: 2px; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .textname {
              width: 100%;
              height: 40px;
              display: block;
              margin-bottom: 10px;
              border-radius: 5px;
              outline: none;
              padding: 5px;
              border: 1px solid rgba(51, 51, 51, 0.5); }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .textname:hover, #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .textname:focus {
                border: 1px solid rgba(51, 51, 51, 0.8); }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .startchat {
              color: white;
              padding: 5px;
              background: #72b626;
              border-radius: 5px;
              border: 0;
              margin: 0 auto;
              width: 150px;
              margin: 20px auto;
              height: 40px;
              display: block; }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests .startchat:hover {
                background: #82c636; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .initialquests #notnullmsg {
              text-align: center;
              color: red; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .addFileOVerlay {
            width: calc(100% - 10px);
            position: absolute;
            height: calc(100% - 10px);
            border: 2px dashed;
            margin: 5px;
            display: none;
            justify-content: center;
            align-items: center;
            background: white;
            z-index: 20; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbarcontainer {
            z-index: 100;
            position: absolute;
            right: 0;
            width: 5px;
            background-color: rgba(191, 191, 191, 0.2);
            height: 100%; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbarcontainer:hover {
              width: 10px; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbarcontainer .scrollbar {
              position: absolute;
              height: 50px;
              width: 15px;
              border-radius: 3px;
              background-color: rgba(236, 94, 42, 0.589); }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay {
            width: calc(100% + 20px); }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller {
              height: 100%;
              position: relative;
              overflow-y: scroll;
              width: calc(100% + 20px); }
              #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container {
                position: absolute;
                width: calc(100% - 10px);
                padding-right: 10px; }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container #seentags {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  z-index: -1;
                  pointer-events: none;
                  color: rgba(27, 158, 103, 0.8); }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container #seentags .singleseentag {
                    position: relative;
                    left: calc(100% - 20px);
                    border-radius: 50%;
                    overflow: hidden;
                    width: 15px;
                    height: 15px;
                    display: none;
                    color: rgba(27, 158, 103, 0.8); }
                #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer {
                  height: auto;
                  width: 100%;
                  align-self: flex-end;
                  display: flex;
                  flex-direction: column; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer #istypingmsg {
                    display: none; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage {
                    width: 100%;
                    min-height: 40px;
                    flex-shrink: none;
                    height: auto;
                    align-self: center;
                    align-items: flex-start;
                    margin: 15px 0px 10px 0px;
                    padding: 3px; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .actualmessage {
                      width: auto;
                      min-width: 30px;
                      min-height: 30px;
                      max-width: 70%;
                      padding: 5px 5px 0px 5px;
                      line-height: 120%;
                      overflow-wrap: break-word;
                      box-shadow: 2px 1px 1px rgba(191, 191, 191, 0.8);
                      margin-top: 3px;
                      display: flex;
                      justify-content: center;
                      align-items: baseline;
                      overflow: hidden; }
                      #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .actualmessage #playctrls {
                        display: inline-block;
                        padding: 3px;
                        margin-right: 3px; }
                        #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .actualmessage #playctrls i {
                          display: none; }
                        #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .actualmessage #playctrls:hover {
                          background: rgba(51, 51, 51, 0.5); }
                      #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .actualmessage img {
                        max-height: 200px; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .singleMessage .userpic {
                      height: 30px;
                      width: 30px;
                      border-radius: 50%;
                      margin: 0px 5px 0px 5px;
                      border: 1px solid #bfbfbf;
                      flex-shrink: 0;
                      overflow: hidden; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .anotheruser {
                    display: flex;
                    flex-direction: row;
                    position: relative; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .anotheruser .actualmessage {
                      text-align: left;
                      border-radius: 0px 10px 10px 10px;
                      background: rgba(191, 191, 191, 0.5);
                      position: relative; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .anotheruser .nametag {
                      position: absolute;
                      font-size: 14px;
                      top: -16px;
                      color: rgba(51, 51, 51, 0.5);
                      left: 40px; }
                  #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .currentuser {
                    display: flex;
                    flex-flow: nowrap;
                    flex-direction: row-reverse; }
                    #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody .msgboxBody .scrollbaroverlay .singleMessageScroller .singleMessage1Container .singleMessageContainer .currentuser .actualmessage {
                      text-align: right;
                      border-radius: 10px 0px 10px 10px;
                      background: rgba(27, 158, 103, 0.8);
                      color: white; }
        #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont {
          width: 100%;
          position: absolute;
          bottom: 0;
          margin-bottom: 40px;
          display: none; }
          #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont .singlecan {
            background: rgba(51, 51, 151, 0.2);
            width: 100%;
            height: auto;
            padding: 10px;
            display: block;
            pointer-events: all; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont .singlecan:hover {
              background: rgba(51, 51, 151, 0.5); }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont .singlecan.canselected {
              background: rgba(51, 51, 151, 0.5); }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont .singlecan .cannedshort {
              color: blue;
              pointer-events: none; }
            #bodyoverlay #overlaywrapper #MessageboxMainContainer .actualmessagebody #cannedcont .singlecan .cannedlong {
              font-size: 14px;
              padding-left: 15px;
              pointer-events: none; }
  #bodyoverlay .typing {
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: auto; }
    #bodyoverlay .typing .first, #bodyoverlay .typing .second, #bodyoverlay .typing .third {
      align-self: flex-end;
      height: 10px;
      width: 10px;
      margin: 2px;
      border-radius: 50%;
      background-color: #6f6f6f;
      transform: translateY(13px); }
    #bodyoverlay .typing .first {
      animation: typinganim 1.5s infinite;
      animation-delay: 0s; }
    #bodyoverlay .typing .second {
      animation: typinganim 1.5s infinite;
      animation-delay: 0.15s; }
    #bodyoverlay .typing .third {
      animation: typinganim 1.5s infinite;
      animation-delay: 0.3s; }
@keyframes typinganim {
  0% {
    transform: translateY(13px); }
  70% {
    transform: translateY(0px); }
  100% {
    transform: translateY(13px); } }
@keyframes fadeinanddisplay {
  0% {
    display: block;
    height: 0px; }
  100% {
    height: 450px; } }
@keyframes fadeoutandhide {
  0% {
    height: 450px; }
  100% {
    display: none;
    height: 0px; } }
.msgboxInputcontainer {
  pointer-events: all;
  height: auto;
  flex-shrink: none;
  border-top: 1px solid #bfbfbf;
  display: flex;
  flex-direction: row;
  position: relative; }
  .msgboxInputcontainer .textareact {
    border: 0;
    height: 40px;
    padding: 0px 6px 0px 6px;
    outline: none;
    flex: 1; }
    .msgboxInputcontainer .textareact #textInput {
      outline: none; }
  .msgboxInputcontainer .emojionearea {
    max-height: 40px; }
  .msgboxInputcontainer .inputsContainer {
    height: 40px;
    align-items: center;
    padding: 3px;
    display: flex; }
    .msgboxInputcontainer .inputsContainer .imageInput, .msgboxInputcontainer .inputsContainer .voiceInput, .msgboxInputcontainer .inputsContainer .fileInput {
      height: 25px;
      margin: 2px;
      width: 25px;
      border-radius: 3px;
      background: rgba(191, 191, 191, 0.8);
      overflow: hidden;
      position: relative; }
      .msgboxInputcontainer .inputsContainer .imageInput:hover, .msgboxInputcontainer .inputsContainer .voiceInput:hover, .msgboxInputcontainer .inputsContainer .fileInput:hover {
        background-color: #bfbfbf; }
      .msgboxInputcontainer .inputsContainer .imageInput input, .msgboxInputcontainer .inputsContainer .voiceInput input, .msgboxInputcontainer .inputsContainer .fileInput input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 500px;
        font-size: 70;
        z-index: 100; }
  .msgboxInputcontainer .reorderbox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    padding: 3px 10px;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center; }
    .msgboxInputcontainer .reorderbox.isrecording #recordbutton {
      display: none; }
    .msgboxInputcontainer .reorderbox.isrecording .recordstopbtncont {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .msgboxInputcontainer .reorderbox.isrecording .recordstopbtncont .soundlevel {
        width: 25px;
        display: flex;
        flex-direction: column;
        height: 100%; }
        .msgboxInputcontainer .reorderbox.isrecording .recordstopbtncont .soundlevel div {
          height: 2px;
          margin-top: 1px;
          background: black;
          opacity: 0.3;
          display: flex;
          justify-content: center;
          align-items: center; }
          .msgboxInputcontainer .reorderbox.isrecording .recordstopbtncont .soundlevel div.active {
            opacity: 1; }
      .msgboxInputcontainer .reorderbox.isrecording .recordstopbtncont #recordstopbutton {
        display: flex; }
    .msgboxInputcontainer .reorderbox .recordstopbtncont {
      display: none; }
      .msgboxInputcontainer .reorderbox .recordstopbtncont #recordstopbutton {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: red;
        margin: 0 auto;
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 0.8;
        margin-left: 3px; }
        .msgboxInputcontainer .reorderbox .recordstopbtncont #recordstopbutton i {
          color: white;
          font-size: 20px; }
        .msgboxInputcontainer .reorderbox .recordstopbtncont #recordstopbutton.isrecording {
          animation: fadeinandout 2s infinite; }
    .msgboxInputcontainer .reorderbox #recordbutton {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: black;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .msgboxInputcontainer .reorderbox #recordbutton i {
        color: white;
        font-size: 20px; }
  .msgboxInputcontainer .recordbuttonexit {
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px; }
    .msgboxInputcontainer .recordbuttonexit:hover {
      transform: scale(1.2); }

@keyframes fadeinandout {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.1; }
  100% {
    opacity: 0.8; } }
.emojionearea > .emojionearea-editor {
  min-height: 40px;
  max-height: 40px; }

#istypingbox {
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: auto; }
  #istypingbox .first, #istypingbox .second, #istypingbox .third {
    align-self: flex-end;
    height: 10px;
    width: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: #6f6f6f;
    transform: translateY(13px); }
  #istypingbox .first {
    animation: typinganim 1.5s infinite;
    animation-delay: 0s; }
  #istypingbox .second {
    animation: typinganim 1.5s infinite;
    animation-delay: 0.15s; }
  #istypingbox .third {
    animation: typinganim 1.5s infinite;
    animation-delay: 0.3s; }

@keyframes typinganim {
  0% {
    transform: translateY(13px); }
  70% {
    transform: translateY(0px); }
  100% {
    transform: translateY(13px); } }

/*# sourceMappingURL=style.css.map */
